@import "bootstrap-sprockets";
@import "bootstrap";

/***************
/   FORMAT
/---------------
/.1 Mixins + Vars
/.2 Typography
/.3 Header
/.4 Body
/.5 Footer
/.6 Misc
/.7 Sidebar
/.8 Forms
***************/

/* mixins, variables, etc. */
$gray-light: #777;
$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}

h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
}

h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: $gray-light;
}

p {
    font-size: 1.1em;
    line-height: 1.7em;
}

/* header */

#logo {
    display:inline-block;
}

.container {
    nav {
        display:inline;
    }
}

/* body */
.view {
  padding: 15px;
}

.hero-navigation {
  width: 20vw;
  position: fixed;
  top: 0px;
  left: 0px;
  min-width: 200px;
  overflow: hidden;
  z-index: 1;
  min-height: 100%;
  background-color: #2D292A;
  ul.nav {
    li {
      a {
        color: #C3C3C3;
        &:hover {
          background-color: #000;
        }
      }
    }
  }
  img {
    margin: 15px auto 5px;
    display: block;
    border: solid 4px #fafafa;
    border-radius: 50px;
  }

  p.current-user-name {
    color: #fafafa;
    text-align: center;
    font-weight: bold;
  }
}

.page-wrapper {
  padding-left:20vw;
  @media screen and (max-width: 990px) {
    padding-left: 200px;
  }
}

.content {

}

.container {
    section {
        margin-top:60px;
    }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: $gray-light;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */
.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
